body{
margin:0;
width:1920px;
height:1080px;
overflow:hidden;
background:transparent;
font-family:sans-serif;
}

/* CONTROLES DEL TICKER */

:root{
--ticker-right: 20px;
--ticker-width: 230px;
--ticker-height: 31px;
}

/* CONTENEDOR */

#mosca{
position:absolute;
top:70px;
right:80px;
width:600px;
opacity:0;
filter:blur(20px);
}

/* TEXTO */

#texto{
width:600px;
text-align:right;
color:#ffffff;
font-size:44px;
font-weight:bold;
text-transform:uppercase;
line-height:1.1;
text-shadow:6px 6px 12px rgba(0,0,0,.8);
opacity:0;
filter:blur(20px);
}

/* LOGO */

#logo{
position:absolute;
top:0;
right:0;
opacity:0;
filter:blur(20px);
display:flex;
flex-direction:column;
align-items:flex-end;
}

#logo img{
height:120px;
}

/* TICKER */

#ticker{

width:var(--ticker-width);
height:var(--ticker-height);

background:white;

margin-top:6px;
margin-right:var(--ticker-right);

overflow:hidden;

display:flex;
align-items:center;

}

/* TEXTO */

#ticker span{

white-space:nowrap;

font-size:16px;
font-weight:bold;

color:black;

padding-left:10px;

animation:tickerMove 12s linear infinite;

}

/* ANIMACION */

@keyframes tickerMove{

0%{
transform:translateX(200px);
}

100%{
transform:translateX(-100%);
}

}
