body{
margin:0;
background:transparent;
font-family:sans-serif;
}

/* CONTENEDOR */

#container{

position:absolute;
top:40px;
right:60px;

opacity:0;

}

/* TEXTO */

#textBox{

text-align:right;

font-size:44px;
font-weight:bold;

color:white;

line-height:1.2;

text-transform:uppercase;

opacity:.5;

filter: drop-shadow(6px 6px 8px rgba(0,0,0,.7));

}

/* LOGO */

#logoBox{

opacity:0;

display:flex;
flex-direction:column;
align-items:flex-end;

}

#logoBox img{

height:90px;

}

/* TICKER REINICIADO */

#ticker{

width:200px;
height:35px;

background:white;

margin-top:6px;

overflow:hidden;

display:flex;
align-items:center;

}

/* TEXTO */

#ticker span{

white-space:nowrap;

font-size:18px;
font-weight:bold;

color:black;

padding-left:10px;

animation:tickerMove 12s linear infinite;

}

/* ANIMACION */

@keyframes tickerMove{

0%{
transform:translateX(200px);
}

100%{
transform:translateX(-100%);
}

}
