body{
margin:0;
width:1920px;
height:1080px;
overflow:hidden;
background:transparent;
font-family:sans-serif;
}

#mosca{
position:absolute;
top:70px;
right:80px;
width:600px;
opacity:0;
filter:blur(20px);
}

#texto{
width:600px;
text-align:right;
color:#ffffff;
font-size:36px;
font-weight:bold;
text-transform:uppercase;

opacity:0;
filter:blur(20px);

transition:all .8s ease;
}

#logo{
position:absolute;
top:0;
right:0;
opacity:0;
filter:blur(20px);
display:flex;
flex-direction:column;
align-items:flex-end;
}

#logo img{
height:120px;
}

/* LOGO EE */

#logoEE{
position:absolute;
top:0;
right:0;
opacity:0;
display:flex;
justify-content:flex-end;
}

.circle-mask{
width:90px;
height:90px;
background:white;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
overflow:hidden;
clip-path:circle(0% at 50% 50%);
transition:clip-path .7s ease, background .4s ease;
}

.circle-mask img{
width:100%;
height:100%;
object-fit:cover;
border-radius:50%;
}

/* TICKER */

:root{
--ticker-width:230px;
--ticker-height:31px;
}

#ticker{
width:210px;
height:28px;
background:white;
margin-top:6px;
margin-right:16px;
overflow:hidden;
display:flex;
align-items:center;
padding:0 5px; /* 🔥 ESTE ES EL BUENO */
box-sizing:border-box;
}

.ticker-viewport{
width:100%;
height:100%;
overflow:hidden;
display:flex;
align-items:center;

padding:0 5px;           /* 🔥 margen real */
box-sizing:border-box;   /* 🔥 importante */
}

.ticker-track{
display:flex;
align-items:center;
white-space:nowrap;
animation:tickerLoop 12s linear infinite;

padding:0 20px; /* 🔥 ESTE ES EL MARGEN REAL */
}

.text{
font-size:14px;
font-weight:bold;
color:black;
margin-right:36px;
padding:0 5px; /* aire entre repeticiones */
}

@keyframes tickerLoop{
0%{ transform:translateX(0); }
100%{ transform:translateX(-50%); }
}
